desibank-web/src/main/webapp/WEB-INF/wsdl/fault.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.store.idea.com/sim"
	xmlns:tns="http://www.store.idea.com/sim" elementFormDefault="qualified">
	
	<element name="sfault" type="tns:DetailMessage"/>
	<complexType name="DetailMessage">
			<sequence>
					<element name="errorCode" type="string"/>
					<element name="emessage" type="string"/>
			</sequence>
	</complexType>
</schema>